In [2]:
# while

while True :
    num1 = int(input('첫 번째 정수 입력 >> '))
    num2 = int(input('두 번째 정수 입력 >> '))
    result = num1 + num2
    print(f'두 정수의 합 : {result}')
        
    if (num1==0 and num2==0) :   
        break 
    
print('프로그램이 종료되었습니다.')

첫 번째 정수 입력 >> 2
두 번째 정수 입력 >> 5
두 정수의 합 : 7
첫 번째 정수 입력 >> 0
두 번째 정수 입력 >> 5
두 정수의 합 : 5
첫 번째 정수 입력 >> 0
두 번째 정수 입력 >> 0
두 정수의 합 : 0
프로그램이 종료되었습니다.

In [3]:
import random

randomNumber = random.randint(1,10)
print(randomNumber)

4

In [1]:
import random

rd = random.randint(1,50)

while True :
    num = int(input('숫자를 입력하세요 >>'))
    if rd>num :
        print(f"{num}보다 큰 수 입니다.")
    elif rd<num :
        print(f"{num}보다 작은 수 입니다.")
    else :
        print("정답을 맞추셨습니다.")
        break

숫자를 입력하세요 >>25
25보다 큰 수 입니다.
숫자를 입력하세요 >>30
30보다 큰 수 입니다.
숫자를 입력하세요 >>50
50보다 작은 수 입니다.
숫자를 입력하세요 >>40
40보다 작은 수 입니다.
숫자를 입력하세요 >>31
31보다 큰 수 입니다.
숫자를 입력하세요 >>32
32보다 큰 수 입니다.
숫자를 입력하세요 >>33
33보다 큰 수 입니다.
숫자를 입력하세요 >>34
34보다 큰 수 입니다.
숫자를 입력하세요 >>35
35보다 큰 수 입니다.
숫자를 입력하세요 >>36
36보다 큰 수 입니다.
숫자를 입력하세요 >>37
37보다 큰 수 입니다.
숫자를 입력하세요 >>38
38보다 큰 수 입니다.
숫자를 입력하세요 >>39
정답을 맞추셨습니다.

In [1]:
list_food = ['삼겹살','곱창','꼬막']

for food in list_food:
    print(food)

삼겹살
곱창
꼬막

In [3]:
str1 = '안녕하세요'
for s in str1:
    print(s)

안
녕
하
세
요

In [13]:
score_list = [90,45,70,60,55,90]

for s in score_list:
    if s>=60 :
        num=score_list.index(s)+1
        print(f'{num}번 학생은 합격입니다.')
        
    else :
        num=score_list.index(s)+1
        print(f'{num}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.
1번 학생은 합격입니다.

In [12]:
score_list = [90,45,70,60,55]

cnt=1
for s in score_list:
    if s>=60 :
        print(f'{cnt}번 학생은 합격입니다.')
    else :
        print(f'{cnt}번 학생은 불합격입니다.')
    cnt+=1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [15]:
a,b = 10,15
c,d = {11,13}
e,f = [20,25]

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

10
15
11
13
20
25

In [14]:
list1 = [[1,2],[3,4],[5,6]]
for n1,n2 in list1 :
    print(n1,n2)

1 2
3 4
5 6

In [18]:
for num in range(1,11,1) :
    print(num, end=' ')

1 2 3 4 5 6 7 8 9 10

In [19]:
#안녕하세요 5번 출력
for i in range(1,6,1):
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [23]:
for i in range(7,2):
    print(i,end=' ')

In [26]:
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))

for i in range(num1,num2+1) :
    print(i, end=' ')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [34]:
# 최대 값 구하기

list2 = [4,5,2,1,99,15,2,7,27]
max=list2[0]
for i in list2 :
    if i>max :
        max=i
print(max)

99

In [38]:
# range를 사용하여 최소 값 구하기

list2 = [4,5,2,1,99,15,2,7,27]

min = list2[0]
for i in range(0,len(list2),1) :
    if min >list2[i] :
        min=list2[i]
print(min)

1

In [39]:
import pickle

In [40]:
# pickle 모듈을 이용해 데이터 로드
with open('data/movie_review.pkl','rb') as f:
    movie_review = pickle.load(f)

In [4]:
movie_review

NameError: name 'movie_review' is not defined

In [3]:
# 전체 리뷰 개수 확인
print(len(movie_review))
print(movie_review[1][0])

NameError: name 'movie_review' is not defined

In [58]:
# 리뷰 길이의 평균 값

sum=0
for i in range(len(movie_review)) :
    sum += len(movie_review[i][0])
result = sum/len(movie_review)
print(f'리뷰의 평균 길이는 {result} 입니다.')

리뷰의 평균 길이는 35.4866 입니다.

In [60]:
total = 0
for txt, pn in movie_review :
    total += len(txt)
print(f'리뷰의 평균 길이는 {total/len(movie_review)} 입니다.')

리뷰의 평균 길이는 35.4866 입니다.

In [65]:
p=0
n=0
for i in range(len(movie_review)):
    if movie_review[i][1] == 0:
        n += 1
    else :
        p += 1
print(f'긍정 "{p}"개')
print(f'긍정 "{n}"개')

긍정 "2499"개
긍정 "2501"개

In [72]:
result=0
for i in range(len(movie_review)):
    if len(movie_review[i][0])>result :
        result=len(movie_review[i][0])
        text=movie_review[i][0]
print(f'리뷰 최대 길이는 \'{result}\'입니다.')
print(text)

리뷰 최대 길이는 '144'입니다.
"상처투성이인 한국인을 위하여 어제는 추기경님이 계셨고 오늘은 교황님께서 치유하시고 가셨습니다. "" 고난이 나를 찾을때 피하고 싶은 내마음은""하시며 노래부르실때는 한 인간으로서 사제로서 격었을 그분의 고난에 눈물이 흐릅니다. 이땅에 이런어른 더안계시나요"

In [79]:
st = input("검색할 데이터 입력 >> ")

cnt=0
for i in range(len(movie_review)) :
    if st in movie_review[i][0] :
        cnt+=1
print(f"'{st}'가 포함된 리뷰는 {cnt}개 입니다.")

검색할 데이터 입력 >> 와
'와'가 포함된 리뷰는 234개 입니다.

In [21]:
for j in range(2,10,1) :
    print(f'{j}단:',end = ' ')
    for i in range(1,10,1):
        result=j*i
        print(f'{j}*{i}={result}',end=' ')
    print()

2단: 2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3단: 3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4단: 4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5단: 5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6단: 6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7단: 7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8단: 8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9단: 9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [37]:
for j in range(1,10,1) :
    for i in range(2,10,1) :
        result=i*j
        print(f'{i}*{j}={result}',end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [50]:
num=int(input("정수 입력 >> "))
print(f'{num}의 약수 : ', end=' ')
for i in range(1,num+1,1) :
    if num%i==0 :
        print(i, end=' ')

정수 입력 >> 32
32의 약수 :  1 2 4 8 16 32

In [57]:
startNum = int(input("Start >> "))
endNum = int(input("End >> "))
result=0

for i in range(startNum,endNum+1,1) :
    print(f'{i}의 약수의 합 : ',end=' ')
    for j in range(1,i+1,1) :
        if i%j ==0 :
            result+=j
    print(result)
    result=0
    
#startNum = int(input("Start >> "))
#endNum = int(input("End >> "))

#for i in range(startNum, endNum + 1):
#    divisors_sum = sum(j for j in range(1, i + 1) if i % j == 0)
#    print(f'{i}의 약수의 합:', divisors_sum)

Start >> 2
End >> 6
2의 약수의 합 :  3
3의 약수의 합 :  4
4의 약수의 합 :  7
5의 약수의 합 :  6
6의 약수의 합 :  12

In [12]:
for i in range(1,10000+1,1) :
    sum=0
    for j in range(1,i,1) :
        if i%j==0 :
            sum+=j
    if sum==i :
        print(i,end=' ')

6 28 496 8128

In [15]:
string =".nohtyp deen uoY , trohs oot si efiL"
reversed_str = string[::-1]

print(reversed_str)

Life is too short , You need python.

In [19]:
string =".nohtyp deen uoY , trohs oot si efiL"
s =""
for i in range(1,len(string),1):
    s+=string[(-1)*i]
s

'Life is too short , You need python'

In [22]:
string = ".nohtyp deen uoY , trohs oot si efiL"
s=""
for i in range(1,len(string),1) :
    s+=string[-1*i]
s

'Life is too short , You need python'

In [2]:
my_list = ["가","나","다","라","마"]

for j in range(3) :
    for i in range(3) :
        print(my_list[i+j],end=" ")
    print()

가 나 다
나 다 라
다 라 마

In [1]:
studentScore = []

while True :
    num=int(input("[1]시험점수입력 [2]성적확인 [3]종료 >> "))
    if num==1 :
        name = input("이름입력 : ")
        java = int(input("Java 점수 입력 : "))
        web = int(input("Web 점수 입력 : "))
        score = (java + web)/ 2
        
        if score >= 90 :
            grade = 'A'
        elif score >= 80 :
            grade = 'B'
        elif score >= 70 :
            grage = 'C'
        elif score >= 60 :
            grade = 'D'
        else :
            grade = 'F'
            
        studentScore.append([name, java, web, grade])
        
    elif num==2 :
        print('이름\tJava\tWeb\tGrade')
        for i in range(len(studentScore)) :
            print(f'{studentScore[i][0]}\t{studentScore[i][1]}\t{studentScore[i][2]}\t{studentScore[i][3]}')
            
        print('-'*50)
    else :
        break

[1]시험점수입력 [2]성적확인 [3]종료 >> 1
이름입력 : 박보배
Java 점수 입력 : 90
Web 점수 입력 : 90
[1]시험점수입력 [2]성적확인 [3]종료 >> 2
이름	Java	Web	Grade
박보배	90	90	A
--------------------------------------------------
[1]시험점수입력 [2]성적확인 [3]종료 >> 3